/*
Theme Name: Gun Law Seminar
Theme URI: http://gunlawseminar.com
Author: Texas Law Shield, LLP. & Giant Titan LLC
Author URI: http://www.texaslawshield.com
Description: Theme specifically developed for the Gun Law Seminar website.
Version: 2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gls
Tags:

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Page Body
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
5.1 - Links
5.2 - Menus
6.0 - Accessibility
9.0 - Widgets
10.0 - Content
10.1 - Posts and pages
10.2 - Asides
10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
12.1 - Captions
--------------------------------------------------------------*/



/* CUSTOM STYLES ---------------------------------------------*/
#vidBtns{
text-align:center;
}
	
.glsBtn{
display:inline-block;
border-radius:5px;
padding:1em;
background-color:red;
color:#fff;
margin-bottom:10px;
margin-right:5px;
white-space:normal;
}

.glsBtn:hover{
background-color: #000!important;
color:#fff;
}


#tablecontent h3 {
	margin-top:0;
	margin-bottom:0;
  font-size:20px;
}

.btn {
	padding:5px 9px;
}

#schedule {
 background-color:#FFFFFF;
}

#home-page {
	background-color:#FFF;
}

.videopadding {
	padding:0 15px 0 15px;
}

.venue {
	width:30%;
}

.date {
	width:145px;
}


/*--------------------------------------------------------------
1.0 Page Defaults
--------------------------------------------*/
.tls .site-main .container {
	max-width: 1000px;
	margin-top: 15px;
	background: #E1E3E6;
}
.tls #home-page .panel-heading {
	background-color: #C9CBCF;
}
.tls #home-page .panel-body {
	background-color: #D9DBDF;
}
.tls #home-page .panel .panel-title {
	color: #333;
	font-size: 30px;
}
.tls .panel-default .panel-heading {
	color: #fff;
	background-color: #494A54;
}
.tls .site-footer {
	margin-top: 50px;
	color: #fff;
}
.tls .panel-title,
.tls .topic-title {
	font-size: 22px;
	font-weight: bold;
}
.tls .topic-title {
	padding: 10px;
	color: #fff;
	background-color: #494A54;
}
#glsCarousel .carousel-html {
	color: #fff;
}
#glsCarousel .carousel-html h1 {
	padding-left: 60px;
	text-align: left;
	font-size: 60px;
	white-space: nowrap;
}
#glsCarousel .carousel-html h2 {
	padding-right: 40px;
	text-align: right;
}
.mainLogoContainer a {
	margin: 10px auto;
	display: block;
	width: 124px;
}
.mainLogoContainer a:hover {
	text-decoration:none;
}
#title {
	font-family: 'IM Fell French Canon SC', serif;
	color: #000;
	font-size: 52px;
	padding: 0;
	margin: 10px 0 0 0;
}
#tagline{
	color: #c41936;
	font-family: 'IM Fell French Canon SC', serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
	font-size: 19.5px;
	padding: 0;
	margin: 0;
	line-height:22px;
}
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
html, body, body * {
	font-family: 'Open-Sans', sans-serif;
}
.site-title,
.site-title a {
	color: #adadad;
	font-size: 50px;
	text-shadow: #5d5d5d -1px -1px 1px, #fff 1px 1px 1px;
	text-decoration: none;
	font-weight: bold;
}
.media-img {
	position: relative;
	height: 180px;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.cover-title,
#home-page .cover-title {
	margin: 115px 0 0 0;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #333, -1px -1px 1px #999;
}
.event-preview h3,
#home-page .event-preview h3 {
	overflow: hidden;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.entry-header {
	display: table;
	position: relative;
	width: 680px;
	//height: 160px;
	//background: transparent url('images/landing-banner.png') 0 0 no-repeat;
}
.entry-header .header-position {
	display: table-cell;
  padding: 0 45px 0 15px;
	vertical-align: middle;
}
.entry-header h2 {
	margin: 20px 0 30px 0;
	color: #494A54;
	font-size:34px;
	font-weight: bold;
}
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
.site-header {
	min-height: 103px;
	background: transparent url('images/header-bg.png' ) 0 0 repeat-x;
}
.action-button {
	display: block;
	text-indent: -10000px;
	background-position: top center;
}
.action-button:hover {
	background-position: bottom center;
}
.reserve-button {
	width: 380px;
	height: 79px;
	margin: 0 auto;
	background-image: url('images/button-reservemyseat.png');
}
.register-button {
	clear: both;
	float:right;
	width: 305px;
	height: 95px;
	background-image: url('images/button-register.png');
}
.register-link {
	width: 270px;
	height: 64px;
	margin: 0 auto;
	background-image: url('images/landing-sidebox-button.png');
}
.register-phone {
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
.register-phone:hover {
	color: #fff;
	text-decoration: none;
}
ul.event-prices,
ul.event-prices li {
	padding: 8px 16px;
	list-style: none;
	color: #fff;
	font-size: 19px;
}
ul.event-prices li {
	border-left: 12px solid #084D71;
}
ul.event-prices.mobile-event-prices { 
	padding: 0 0 8px 0;
}
ul.event-prices.mobile-event-prices li { 
	color: #333; 
	border-left: 0;
	font-size: 16px;
	padding: 0 0 8px 0;	
}
ul.event-prices li hr {
	margin: 16px 0 0 0;
	border-top: 1px solid #549EC5;
	border-bottom: 1px solid #084D71;
}
ul.event-prices li:last-child hr {
	display: none;
}
hr.dark {
	border-top: 1px solid #333;
	border-bottom: 1px solid #fff;
}
.carousel {
	height: 500px;
	margin-bottom: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
	background-position: top center;
	background-repeat: no-repeat;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	max-height: 500px;
}
#home-page .row {
	margin-bottom: 20px;
}
#home-page h2 {
	padding: 8px 0;
	text-align: center;
	font-size: 52px;
	font-weight: bold;
	color: #fff;
	background-color: #494A54;
}
#home-page h3 {
	font-weight: bold;
	font-size: 32px;
}
#home-page h4 {
	font-size: 32px;
}
#home-page h3 .emph {
	background: transparent url('images/underline.png') bottom center no-repeat;
}
#home-page .border-heading {
	margin: 0 10px;
	padding: 0 0 5px 0;
	text-align: center;
	//border-left: 12px solid #494A54;
	//border-right: 12px solid #494A54;
}
#home-page .border-heading h2 {
	font-weight:800;
	color: #494A54;
	background-color: transparent;
	font-size:45px;
	text-transform:uppercase;
}
#home-page .border-heading h3 {
	margin-top: -10px;
	color: #720404;
}
#home-page .info-text {
	color: #494A54;
	font-size: 18px;
}
#home-page .bullet-points,
#home-page .bullet-points li {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	line-height: 24px;
	font-size: 19px;
}
#home-page .bullet-points li {
	padding: 4px 40px;
	background: url('images/bullet-hole.png') 0 2px no-repeat;
}
#home-page .well-promo {
	position: relative;
	max-width: 470px;
	height: 360px;
	margin: 0 auto;
	padding-top: 0px;
}
#home-page .well-promo .caption {
	position: absolute;
	bottom: 0;
	margin: 0 10% 10px 10%;
}
#home-page .promo-booklets {
	#background: #C9CBCF url('images/gun-law-booklets.png') 50% 70% no-repeat;
	background: #C9CBCF;

}
#home-page .promo-seminar {
	color: #fff;
	background: #C9CBCF url('images/seminar-workshop.jpg') 50% 50% no-repeat;
}
.sidebar {
	margin: -111px 0 0 -21px;
}
.panel-feature {
	width: 314px;
	border: none;
	background: transparent;
	box-shadow: none;
}
.panel-feature .panel-body {
	border: none;
	background: transparent url('images/landing-sidebox-top.png') 50% -80px no-repeat;
}
.panel-feature .barn-door {
	background: transparent url('images/landing-sidebox-center.png') 50% 0 repeat-y;
}
.panel-feature .panel-heading {
	height: 80px;
	border: none;
	overflow: hidden;
	background: transparent url('images/landing-sidebox-top.png') 50% 0 no-repeat;
}
.panel-feature .panel-footer {
	height: 40px;
	border: none;
	background: transparent url('images/landing-sidebox-bottom.png') 50% 0 no-repeat;
}
.panel-feature .panel-heading .panel-title {
	color: #fff;
	background: transparent;
	line-height: 65px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 2px #333;
}
.panel-feature .panel-body p {
	color: #fff;
	text-align: center;
}
.panel-free-book h4 {
	font-size: 22px;
	font-weight: bold;
}
.panel-free-book h5 {
	color: #C4161C;
	font-size: 22px;
	font-weight: bold;
}
.panel-free-book img {
	margin-right: 15px;
}
.topic {
	margin: 15px 0;
	padding: 15px 15px 15px 180px;
	background-color: #fff;
	background-position: 0 50%;
	background-repeat: no-repeat;
	box-shadow: 0 20px 25px -10px #000000;
}
.slide-quote {
	clear: both;
	width: 360px;
	margin: 10px 60px;
	background-color: #444;
	border-radius: 4px;
}
.slide-quote blockquote {
	margin-bottom: 0;
	border: none;
}
.quote-1 {
	float: left;
}
.quote-2 {
	float: right;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	padding: 0 30px;
	background-color:white;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.mobileOnly,.mobileInlineOnly,.mobileSmallOnly{display:none !important;}


@media screen and (max-width: 1015px) {
	.hentry{padding:0 15px;}
	.mobileOnly{display:block !important;}
	.hideMobile{display:none !important;}
	.mobileInlineOnly{display:inline-block !important;}
	.mainLogo{
		overflow:hidden;
		width:125px;
	}
	.mainLogoContainer{
		float:left;
		width:125px;
	}
	.mainLogoTextContainer{
		float: left;
		margin: 16px auto 0;
		max-width: 290px;
		padding: 0;
	}
	.site-title, .site-title a{
		text-align:center;
		font-size:32px;
		margin-right:10px;
	}

	.slide-quote{display:none;}
	#glsCarousel{margin-bottom:0;}
	#glsCarousel.carousel .container{padding:0;}
	#glsCarousel.carousel,#glsCarousel.carousel .item{height:100%;}

	.site-title.pull-right{margin-top:10px;}
	.register-button{
		float:none !important;
		max-width:305px;
		margin:0 auto;
		width:100%;
	}
	#glsCarousel .carousel-inner .item.active{background:none !important;}
	#glsCarousel{
		#background:none !important;
		/* fallback */
		background-color: #1a82f7;
		#background: url(images/linear_bg_2.png);
		background-repeat: repeat-x;

		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a2a2a), to(#000)) !important;

		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(top, #000, #2a2a2a)  !important;

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #000, #2a2a2a)  !important;

		/* IE 10 */
		background: -ms-linear-gradient(top, #000, #2a2a2a)  !important;

		/* Opera 11.10+ */
		background: -o-linear-gradient(top, #000, #2a2a2a)  !important;

		padding-bottom:50px;
	}
	#glsCarousel .carousel-html h1{
		background:url("http://gunlawseminar.cevo.co.uk/wp-content/themes/gunlawseminar/images/header_bottom_mobile.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
		white-space:normal;
		text-align:center;
		font-size:30px;
		padding-left:0px;
		padding-bottom:20px;
		font-family:Century;
	}
	#glsCarousel .carousel-html h2{
		text-align:center;
		font-size:22px;
		padding-right:0;
		margin-left:0;
		margin-right:0;
	}
	#home-page{margin-top:0;}

	#home-page .border-heading{
		margin:0;
		border:none;
	}

	#home-page .border-heading h2{
		color:#282828;
		font-size:32px;
		margin-top:0;
	}
	#home-page .border-heading h3{
		margin-bottom:0;
		font-size:20px;
	}
	#home-page .promo-booklets img{
		width:100%;
		height:auto;
		margin:0;
	}
	#home-page .promo-booklets{
		height:100%;
	}
	#home-page .well-promo p{
		font-size:16px;
	}
	#home-page .well-promo h4{
		text-align:center;
	}
	#home-page .well-promo .caption{
		margin:0;
	}
	#home-page .mobileCaption{
		max-width:190px;
		margin:0 auto;
	}
	#home-page .promo-seminar .caption{
		max-width: 189px;
		text-align: center;
	}

	#home-page h4{
		font-size:28px;
	}


	#home-page .promo-booklets .caption{
		text-align:center;
		position:relative;
	}

	#home-page #event_search_state{
		float:left;
		margin-top:5px;
	}

	#home-page .info-text{
		font-size:20px;
	}
	#home-page .reserve-button{
		width: 240px;
		height: 49px;
		background-image: url('images/button-reservemyseat_mobile.png');
	}
	#home-page h3{
		font-size:26px;
	}
	#home-page .ourSeminarsText{
		display:block;
		float:inherit;
	}
	#home-page .ourSeminarsText h3{
		margin-top:0;
		text-align:left;
	}

	#home-page h3 .emph{
		padding-bottom:4px;
	}

	.mobileNoBorder{
		padding:1px;
	}

	.mobileWide{
		width:100%;
		//padding:0;
	}

	#primary{
		margin-top:0;
	}
	.panel.panel-default{
		background:none;
	}
	.panel-default .panel-body{
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 4px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		margin: 10px 7px;
		min-height:124px;
		font-family:Century Gothic;
	}
	.panel-default .mobile-panel-box{
		margin:0;
		padding:10px;
	}
	.mobile-panel-box p:first-child{
		margin-bottom:0;
	}
	.panel-default .panel-body h4{
		font-weight:bold;
		font-size:24px;
	}
	.panel-default .panel-body p{
		font-size:16px;
	}
	.panel{
		margin-bottom:11px;
	}
	.panel-feature{
		width:100%;
		margin-bottom:0;
	}

	.panel-free-book h4{
		font-size:20px;
	}
	.panel-free-book h5{
		font-size:16px;
	}

	.panel-free-book img{
		#float: none !important;
		height: auto;
		#margin: 0 auto;
		#padding: 0 40px 0 0;
		width: 100%;
		max-width:179px;
	}

	#primary .sidebar .col-xs-offset-1{
		margin-left:0;
		width:100%;
	}

	.tls .site-footer{
		margin-top:0;
	}
	.mobileNoMargin{
		margin:0;
	}

	.entry-header{
		margin:0 auto;
		width:100%;
		height:102px;
		max-width:677px;
	}

	.panel-heading,.panel-default .panel-body{
		border-radius:0;
	}

	.entry-header h2{
		font-size:24px;
		margin:0 0 5px;
	}
	.panel-body p,.panel-body address{
		//font-size:18px;
	}
	.tls .panel-title, .tls .topic-title{
		font-size:26px;
	}

	.sidebar{
		width:100%;
		margin:0;
	}

	.contactBox h4{
		margin-top:0;
		font-weight:bold;
		text-decoration:underline;
		font-size:20px;
	}
	.contactBox address{
		font-size:18px;
	}
	.entry-header .header-position{
		padding:0 108px 0 45px;
	}
	.col-sm-12.col-md-8{
		width:100%;
	}
	.entry-title{
		max-width:600px;
	}
	.row .topic{
	}
	.row .topic-title{
		margin-left:-15px;
		margin-right:-15px;
	}
}
@media screen and (max-width: 700px) {
	.entry-header .header-position{
		padding:0 45px;
	}
	.row .topic{
		background-color: #fff;
		background:#fff !important;
		border: 1px solid transparent;
		border-radius: 0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		font-family: Century Gothic;
		margin: 0 7px 10px;
		min-height: 124px;
		padding:0 10px;
	}
	.row .topic h4{
		font-size: 24px;
		font-weight: bold;
	}
	.row .topic p{
		font-size:16px;
	}
	.row .mobileNoPadding{
		padding:0;
	}
}
@media screen and (max-width: 600px) {
	#tagline{
		display:none;
	}
	#title{
		line-height:100%;
		font-size:40px;
	}
	.mainLogoContainer{
		margin-right:15px;
	}

}
@media screen and (max-width: 550px) {
	.panel-free-book img{
		float: none !important;
		display:block;
		padding:0;
		margin:0 auto;
	}
	.mobileSmallOnly{display:block !important;}
	.hideSmallMobile{display:none !important;}
}
@media screen and (max-width: 450px) {
	.panel-body{padding:0 10px;}
	.mainLogoTextContainer{
		max-width:140px;
		margin-top:0;
		float:right;
		margin-right:10px;
	}
	.site-title, .site-title a{
		margin-right:0;
	}
	.entry-header .header-position{
		padding:0 14px;
	}
}

@media screen and (max-width: 330px) {
	.sidebar .col-xs-12,#primary .col-xs-12{
		padding:0;
	}

}

