<apex:page controller="MemberContactController" title="Members to Contact">
    <apex:form >
    
        <apex:toolbar style="background-color:#8d8d8d;background-image:none" rendered="true">
          <apex:toolbarGroup location="left" id="toolbarGroupWorkingPage">
            <apex:inputText value="{!pageQuery}">Working Page:&nbsp;</apex:inputText>
            <apex:commandButton action="{!executeSearch}" value="Go"/>
          </apex:toolbarGroup>
        </apex:toolbar>
    
        <br />
        
        <apex:pageBlock >
            
            <apex:pageBlockSection title="Modify List" rendered="{!$Permission.canExecuteContactReports}">
                <apex:outputLabel value="Number of Pages:"/>
                <apex:inputText value="{!numPages}"/>
                <apex:commandButton action="{!BuildMemberContactList}" value="Build Contact List"/>
            </apex:pageBlockSection>
 
           <apex:variable var="rowcount" value="{!0}" />   
           <apex:pageBlockTable value="{!accounts}" var="acc">
               
               <apex:column headerValue="Record">
                   <apex:variable var="rowcount" value="{!rowcount+1}" />
                    {!rowcount} 
                </apex:column>
   
              <apex:column headerValue="Name">
                 <apex:outputLink target="_blank" value="/{!acc.id}?retURL={!URLENCODE('/apex/MemberContact?query='+urlQuery)}">{!acc.Name}</apex:outputLink>
              </apex:column>
              
              <apex:column headerValue="Phone" value="{!acc.Phone}"/>
              
              <apex:column headerValue="FB Customer ID" value="{!acc.fb_connect__FB_Customer_Number__c}"/>
              
              <apex:column headerValue="FB Account" value="{!acc.fb_connect__Account_Name__c}"/>
              
              <apex:column headerValue="Subscription Value" value="{!acc.Subscription_Value__c}"/>
              
              <apex:column headerValue="Status" value="{!acc.fb_connect__FB_Status__c}"/>
              
              <apex:column headerValue="Status Date" value="{!acc.fb_connect__FB_StatusTimestamp__c}"/>
              
              <apex:column headerValue="DND End" value="{!acc.DND_End__c}"/>
      
              <apex:column headerValue="DND Actions">
                <apex:commandLink action="{!ApplyDoNotDisturb}" value="2 Days">
                    <apex:param name="pageQuery" value="{!pageQuery}"/>
                    <apex:param name="accId" assignTo="{!accId}" value="{!acc.id}" />
                    <apex:param name="dndLen" assignTo="{!dndLen}" value="2" />
                </apex:commandLink>
              </apex:column>
      
           </apex:pageBlockTable>
           
       </apex:pageBlock>
       
    </apex:form>
</apex:page>